<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <title>
      <%= user_name %>@<%= room_name %>
    </title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/modules/mediasoupclient.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
    <script src="/js/RoomClient.js"></script>
    <link rel="stylesheet" href="/css/room.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>

  <body>
    <div id="overlay">
      <button id="text" class="btn btn-primary btn-lg shadow-none" style="margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);" onclick="overlay_off()">회의록을 보시려면 팝업 창을 닫아 주세요! (해결되지 않으면 버튼을 눌러
        주세요)</button>
    </div>

    <!-- Left Layout -->
    <div id="left">
      <!-- Videos -->
      <div id="remote-media">
        <div name="local-media" id="local-media" class="video-container">
          <p class="name-overlay">
            <%= user_name %>
          </p>
          <video id="local-video" autoplay inline></video>
        </div>
      </div>
      <!-- <div name="local-media" id="local-media" class="video-container">
        <p class="name-overlay"><%= user_name %></p>
        <video id="local-video" autoplay inline></video>
      </div> -->

      <!--Map-->
      <!-- <iframe style="border: 1px solid grey; margin: 10px 0px 0px 5px; width: 100%; height: 80%;" src="../map.html"></iframe> -->
      <div class="tab">
        <button id="map-1" class="tablinks btn btn-dark btn-md rounded-top shadow-none"
          onclick="showMap('day1', '../img/day1-map.png'); rc.addUserLog(Date.now(), 'CLICK-DAY1-MAP\n');">1일차
          (명동)</button>
        <button id="map-2" class="tablinks btn btn-outline-dark btn-md rounded-top shadow-none"
          onclick="showMap('day2', '../img/day2-map.png'); rc.addUserLog(Date.now(), 'CLICK-DAY2-MAP\n');">2일차
          (강남)</button>
      </div>
      <div id="map-view" class="tabcontent">
        <img id="map-image" style="width: 100%; height: 100%; border: 3px solid black;" src="../img/day1-map.png">

        <div id="foods-list" style="border: 3px solid blue; height: 100%;">
          <p style="text-align: center; font-weight: bold; font-size: large;">[음식점]</p>
          <p class="placename">1. 애성회관</p>
          <p class="placename">2. 대성골뱅이치킨</p>
          <p class="placename">3. 남도식당</p>
          <p class="placename">4. 호수집</p>
          <p class="placename">5. 무궁화</p>
          <p class="placename">6. 루브리카</p>
          <p class="placename">7. 황소막창구이</p>
          <p class="placename">8. 고수레</p>
          <p class="placename">9. 더백푸드트럭</p>
          <p class="placename">10. 제로컴플렉스</p>
        </div>

        <div id="places-list" style="border: 3px solid red; height: 100%;">
          <p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 서울역사박물관</p>
          <p class="placename">2. 덕수궁</p>
          <p class="placename">3. 서울시립미술관</p>
          <p class="placename">4. 서울광장</p>
          <p class="placename">5. 명동거리</p>
          <p class="placename">6. 서울글로벌<br>문화센터체험</p>
          <p class="placename">7. 명동대성당</p>
          <p class="placename">8. 남산골한옥마을</p>
          <p class="placename">9. 숭례문</p>
          <p class="placename">10. 남대문시장</p>
          <p class="placename">11. 문화역서울 284</p>
          <p class="placename">12. 남산공원</p>
          <p class="placename">13. 남산서울타워</p>
        </div>
      </div>

      <!-- Bottom Navbar Buttons -->
      <nav id="left-navbar" class="navbar navbar-expand-lg fixed-bottom">
        <div id="media-control" class="container-fluid btn-toolbar d-grid gap-2 d-md-block" role="toolbar">
          <div class="btn-group me-2" role="group">
            <button id="meeting-timer" class="btn btn-outline-secondary btn-md shadow-none disabled">
              <i class="fas fa-hourglass-start"></i>
              남은 회의 시간:
            </button>
            </button>
          </div>
          <!-- invite button -->
          <div class="btn-group me-2" role="group">
            <button id="invite-btn" class="btn btn-outline-success btn-md shadow-none" onclick="copyJoinLink()" hidden>
              <i class="fas fa-users"></i>
              Invite
            </button>
          </div>
          <!-- Video button -->
          <div class="btn-group btn-group-md dropup me-2" role="group">
            <button type="button" class="btn btn-outline-primary btn-md shadow-none mx-auto" id="start-video-button"
              style="display: none"
              onclick="this.disabled = true; rc.produce(RoomClient.mediaType.video, document.getElementById('video-select').value); rc.addUserLog(Date.now(), 'VIDEO-ON\n');">
              <i class="fas fa-video-slash"></i>
              Show Video
            </button>
            <button type="button" id="stop-video-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none rounded-start"
              onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.video); rc.addUserLog(Date.now(), 'VIDEO-OFF\n');">
              <i class="fas fa-video"></i>
              Hide Video
            </button>
            <button type="button" class="
                btn btn-outline-primary btn-md
                shadow-none
                dropdown-toggle dropdown-toggle-split
              " data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header">Available Video Sources</h6>
              </li>
              <select id="video-select" class="form-select form-select-sm shadow-none"></select>
            </ul>
          </div>
          <div class="btn-group dropup me-2" role="group">
            <button type="button" id="start-audio-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none"
              onclick="this.disabled = true; rc.produce(RoomClient.mediaType.audio, document.getElementById('audio-select').value); rc.addUserLog(Date.now(), 'AUDIO-ON\n');">
              <i class="fas fa-volume-mute"></i>
              Open Audio
            </button>
            <button type="button" id="stop-audio-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none rounded-start"
              onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.audio); rc.addUserLog(Date.now(), 'AUDIO-OFF\n');">
              <i class="fas fa-volume-up"></i>
              Close Audio
            </button>
            <button type="button" class="
                btn btn-outline-primary btn-md
                shadow-none
                dropdown-toggle dropdown-toggle-split
              " data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header">Available Audio Sources</h6>
              </li>
              <select id="audio-select" class="form-select form-select-sm shadow-none"></select>
            </ul>
          </div>
          <div class="btn-group me-2" role="group">
            <button id="start-timer" class="btn btn-outline-info btn-md shadow-none" onclick="rc.startTimer()" hidden>
              <i class="far fa-play-circle"></i>
              회의 시작
            </button>
          </div>
          <!-- <div class="btn-group" role="group">
            <button
              id="screen-share"
              class="btn btn-outline-primary btn-md shadow-none"
              onclick="startScreenSharing()"
            >
              <i class="fas fa-chevron-up"></i>
              Share Screen
            </button>
          </div> -->
        </div>
      </nav>
    </div>

    <div id="right">
      <div class="border bg-light bg-gradient" id="display-choice">
        <p class="h5" style="margin-bottom: 0.5em; display: inline-block;"><strong>AI Moderator</strong></p>

        <div class="dropdown" style="display: block; margin-top: 5px; float: right;">
          <button style="border-radius: 5px; font-size: smaller;" onclick="showPinBoxes();">
            <i class="fas fa-thumbtack"></i> 고정 <i class="fas fa-caret-down"></i>
          </button>
          <div id="dropdownPin"
            style="display: none; position: absolute; right: 0; padding: 3px 3px 3px 3px; background-color: lightgray; border-radius: 5px;"
            class="dropdown-pin"></div>
        </div>

        <div style="margin-top: 1em; ">
          <input type="text" id="search-word" placeholder="SEARCH" onkeypress="checkEnter(event);">
          <button type="button"
            onclick="addSearchLog(); displayUnitOfBox(); rc.addUserLog(Date.now(), 'CLICK-SEARCH-BUTTON\n');"
            width="50px"
            style="padding: 3.5px; background-color:yellowgreen; margin: 2px; border: none; border-radius: 5px;">
            <!--<img src="/img/search.png" width="30px" style="padding: 0px; margin: 0px;">-->
            <i class="fas fa-search" width="30px" ,
              style="padding: 0px; color:white; background-color: transparent; margin: 0px;"></i>
          </button>
          <button type="button" onclick="showAllBoxes(); rc.addUserLog(Date.now(), 'CLICK-SHOW-ALL-BUTTON\n');"
            width="30px"
            style="padding: 3px; background-color:palevioletred; margin: 2px; border: none; border-radius: 5px;">
            <i class="fas fa-backspace" width="30px" ,
              style="padding: 0px; color:white; background-color: transparent; margin: 0px;"></i>
          </button>
        </div>

        <!--Add buttons for trending keyword-->
        <div id="keywords-list" style="margin-top: 5px;">
          <p style="font-size:medium; display: inline-block; margin-bottom: 5px;"><strong>실시간 인기: </strong></p>
          <button type="button" id="trending-1" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#1</button>
          <button type="button" id="trending-2" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#2</button>
          <button type="button" id="trending-3" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#3</button>
          <button type="button" id="trending-4" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#4</button>
          <button type="button" id="trending-5" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#5</button>
          <button type="button" id="trending-6" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#6</button>
          <button type="button" id="trending-7" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#7</button>
          <button type="button" id="trending-8" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#8</button>
          <button type="button" id="trending-9" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#9</button>
          <button type="button" id="trending-10" onclick="displayTrendingHelper(this);"
            class="btn btn-light btn-sm shadow-none"
            style="font-size: smaller; padding: 1px 3px 1px 3px; margin-top: 2px; border-radius: 5px; border: 1px solid black;">#10</button>
        </div>
        <div id="favorites">
          <p style="font-size: medium; display: inline-block; margin-bottom: 5px;"><strong>즐겨찾기: </strong></p>
          <button state="off" type="button" id="del-fav-keyword" onclick="delFavorite();"
            style="float: right; font-size: smaller; margin-left: 5px; padding: 1px 3px 1px 3px; border-radius: 5px; background-color: transparent;"><i
              class="fas fa-minus"></i> 삭제</button>
          <button type="button" id="add-fav-keyword" onclick="addFavorite();"
            style="float: right; font-size: smaller; padding: 1px 3px 1px 3px; border-radius: 5px; background-color: transparent;"><i
              class="fas fa-plus"></i> 추가</button>
        </div>
      </div>
      <div id="messages" style="clear: both;"></div>


      <button id="scrollbtn" type="button"
        onclick="scrollDown(); rc.addUserLog(Date.now(), 'CLICK-SCROLL-DOWN-BUTTON\n');" width="80px"
        style="padding: 0px; margin: 0px; border: none; border-radius: 0px;">
        <img src="/img/scrolldownbtn.png" style="width: 100px;" style="padding: 0px; margin: 0px;">
      </button>

      <button type="button" onclick="openMap(); overlay_on();" class="btn btn-warning btn-md shadow-none fw-bold"
        style="margin-top: 10px; margin-right: 10px; float: right;">
        지도 보기
      </button>
      <button id='subtask' type="button" disabled="disabled" onclick="openSubtask(); overlay_on();"
        class="btn btn-danger btn-md shadow-none" style="margin-top: 10px; margin-right: 10px; float: right;">
        설문 풀기
      </button>

      <script>
        let food_day1 = `<p style="text-align: center; font-weight: bold; font-size: large;">[음식점]</p>
          <p class="placename">1. 애성회관</p>
          <p class="placename">2. 대성골뱅이치킨</p>
          <p class="placename">3. 남도식당</p>
          <p class="placename">4. 호수집</p>
          <p class="placename">5. 무궁화</p>
          <p class="placename">6. 루브리카</p>
          <p class="placename">7. 황소막창구이</p>
          <p class="placename">8. 고수레</p>
          <p class="placename">9. 더백푸드트럭</p>
          <p class="placename">10. 제로컴플렉스</p>`;

        let food_day2 = `<p style="text-align: center; font-weight: bold; font-size: large;">[음식점]</p>
          <p class="placename">1. 미즈컨테이너</p>
          <p class="placename">2. 도림</p>
          <p class="placename">3. 을밀대</p>
          <p class="placename">4. 한아람정육식당</p>
          <p class="placename">5. 화진포 막국수</p>
          <p class="placename">6. 라미옥</p>
          <p class="placename">7. 산들해</p>
          <p class="placename">8. 하동관</p>
          <p class="placename">9. 광화문미진</p>
          <p class="placename">10. 고봉삼계탕</p>`;

        let place_day1 = `<p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 서울역사박물관</p>
          <p class="placename">2. 덕수궁</p>
          <p class="placename">3. 서울시립미술관</p>
          <p class="placename">4. 서울광장</p>
          <p class="placename">5. 명동거리</p>
          <p class="placename">6. 서울글로벌<br>문화센터체험</p>
          <p class="placename">7. 명동대성당</p>
          <p class="placename">8. 남산골한옥마을</p>
          <p class="placename">9. 숭례문</p>
          <p class="placename">10. 남대문시장</p>
          <p class="placename">11. 문화역서울 284</p>
          <p class="placename">12. 남산공원</p>
          <p class="placename">13. 남산서울타워</p>`;

        let place_day2 = `<p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 잠실한강공원</p>
          <p class="placename">2. 잠실종합운동장</p>
          <p class="placename">3. 석촌호수</p>
          <p class="placename">4. 롯데월드/<br>롯데월드타워/롯데몰</p>
          <p class="placename">5. 몽촌토성</p>
          <p class="placename">6. 올림픽공원</p>
          <p class="placename">7. 몽촌역사관</p>
          <p class="placename">8. 대중음악박물관</p>
          <p class="placename">9. 코엑스</p>
          <p class="placename">10. 봉은사</p>
          <p class="placename">11. 한국문화의집</p>`;

        function showMap(day, src) {
          let mapContent = document.getElementById('map-image');
          mapContent.src = src;

          let foodList = document.getElementById('foods-list');
          let placeList = document.getElementById('places-list');
          if (day === 'day1') {
            foodList.innerHTML = food_day1;
            placeList.innerHTML = place_day1;
            let btn1 = document.getElementById("map-1");
            let btn2 = document.getElementById("map-2");
            btn1.classList.remove('btn-outline-dark');
            btn1.classList.add('btn-dark');

            btn2.classList.remove('btn-dark');
            btn2.classList.add('btn-outline-dark');
          }
          else {
            foodList.innerHTML = food_day2;
            placeList.innerHTML = place_day2;
            let btn1 = document.getElementById("map-1");
            let btn2 = document.getElementById("map-2");
            btn2.classList.remove('btn-outline-dark');
            btn2.classList.add('btn-dark');

            btn1.classList.remove('btn-dark');
            btn1.classList.add('btn-outline-dark');
          }
        }
      </script>
  </body>

  <footer>
    <script>
      const room_id = "<%= room_id %>";
      const room_name = "<%= room_name%>";
      const user_name = "<%= user_name %>";
      const moderator_hostname = "<%= moderator_hostname %>";
      const moderator_port = "<%= moderator_port %>";
    </script>
    <script src="/js/conference.js"></script>
    <script src="/js/speech.js"></script>
    <script src="/js/transcript.js"></script>
    <!-- <script type="module" src="/js/transcript.js"></script> -->
  </footer>

</html>
