<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= user_name %>@<%= room_name %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/modules/mediasoupclient.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
  <script src="/js/RoomClient.js"></script>
  <link rel="stylesheet" href="/css/room.css">


</head>

<body>
  <div id="left">
    <div id="remote-media"></div>
    <div name="local-media" id="local-media" class="video-container">
      <p class="name-overlay">
        <%= user_name %>
      </p>
      <video id="local-video" autoplay inline></video>
    </div>
    <div id="media-control">
      <button class="btn btn-outline-success btn-sm" onclick="copyJoinLink()">Invite</button>
      <br>
      <button id='start-video-button' style="display:none" class='btn btn-outline-primary btn-sm'
        onclick="this.disabled = true; rc.produce(RoomClient.mediaType.video, document.getElementById('video-select').value);">Video</button>
      <button id='stop-video-button' style="display:none" class='btn btn-outline-primary btn-sm'
        onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.video);">Close
        Video</button>
      <br>
      <button id='start-audio-button' style="display:none" class='btn btn-outline-primary btn-sm'
        onclick="this.disabled = true; rc.produce(RoomClient.mediaType.audio, document.getElementById('audio-select').value);">Audio</button>
      <button id='stop-audio-button' style="display:none" class='btn btn-outline-primary btn-sm'
        onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.audio);">Close
        Audio</button>
      <br>
    </div>
    <div id="media-select">
      Video source: <select id="video-select" class="custom-select custom-select-sm"></select>
      <br>
      Audio source: <select id="audio-select" class="custom-select custom-select-sm"></select>
    </div>
  </div>
  <div id="right">
    <div id="messages"></div>
    <div id="display-choice">
      <input type="radio" name="transcript" value="both" onchange="displayChoice(this);" checked>Both
      <input type="radio" name="transcript" value="transcript" onchange="displayChoice(this);">Transcripts
      <input type="radio" name="transcript" value="summary" onchange="displayChoice(this);">Summary
    </div>
  </div>

</body>

<footer>
  <script>
    const room_id = "<%= room_id %>";
    const room_name = "<%= room_name%>";
    const user_name = "<%= user_name %>";
    const moderator_hostname = "<%= moderator_hostname %>";
    const moderator_port = "<%= moderator_port %>";
  </script>
  <script src="/js/conference.js"></script>
  <script src="/js/speech.js"></script>
  <script src="/js/transcript.js"></script>
</footer>

</html>